body{
    padding: 0;
    margin: 0; 
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin: 5px; 
    justify-content: center;
    align-items: center;
}
.git-logo{
    height: 160px;
    width: 160px;
    background-color: #f06033;
    border-radius: 15%;
    transform: rotate(45deg);
    position: relative;
}
.git-logo::after{
    content: "";
    position: absolute;
    background: #fff;
    height: 10px;
    width: 110px;
    top: 40px;
}
.git-logo::before{
    content: "";
    position: absolute;
    background-color: #fff;
    width: 90px;
    height: 12px;
    top: 70px;
    left: 30px;
    transform: rotate(45deg);
}
.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    top: 30px;
    left: 90px;
    position: relative;
    position: absolute;
}
.circle::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    top: 70px;
    left: 8px;
}
